{% extends 'base.html' %}
{% block title %}{% if id==1 %}Python Works{% elif id==2 %}PCB Designs{% elif id==3 %}3D Models{% else %}Electronics Projects{% endif %}{% endblock %}
{% block content %}
<div class="container py-5">
    {% if id==1 %}
    <!-- Python Projects -->
    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <video src="../static/Files/Projects/Python/turtle.mp4" class="img-fluid rounded shadow" alt="Turtle Racing" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Turtle Racing</h1> 
            <p class="lead">Turtle Racing game using Python Turtle Module.</p> 
            Click <a class="lead" id="turtle_racing-link" href="https://github.com/Xenon0117/Turtle-Racing" target="_blank"><i>here</i></a> for more
        </div> 
    </div>
    <hr>
    
    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center order-lg-2"> 
            <video src="../static/Files/Projects/Python/pong.mp4" class="img-fluid rounded shadow" alt="Pong Game" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start order-lg-1"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Pong</h1> 
            <p class="lead">Classic Pong Game using Python Turtle Module.</p> 
            Click <a class="lead" id="pong-link" href="https://github.com/Xenon0117/Pong" target="_blank"><i>here</i></a> for more
        </div> 
    </div>
    <hr>

    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <video src="../static/Files/Projects/Python/pomo.mp4" class="img-fluid rounded shadow" alt="Pomodoro" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start order-lg-1"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Pomodoro</h1> 
            <p class="lead">Pomodoro Timer using Python Tkinter.</p> 
            Click <a class="lead" id="pomo-link" href="https://github.com/Xenon0117/Pomodoro" target="_blank"><i>here</i></a> for more
        </div> 
    </div>
    <hr>
    
    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center order-lg-2"> 
            <video src="../static/Files/Projects/Python/quiz.mp4" class="img-fluid rounded shadow" alt="Quiz App" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start order-lg-1"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Quizler</h1> 
            <p class="lead">GUI Quiz App.</p> 
            Click <a class="lead" id="quiz-link" href="https://github.com/Xenon0117/Quizler" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div>
    <hr>

    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <video src="../static/Files/Projects/Python/snake_REC.mp4" class="img-fluid rounded shadow" alt="Snake Game" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start order-lg-1"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Snake Game</h1> 
            <p class="lead">Classic Snake Game using Python Turtle Module.</p> 
            Click <a class="lead" id="snake-link" href="https://github.com/Xenon0117/Snake-Game" target="_blank"><i>here</i></a> for more
        </div> 
    </div>
    <hr>
    
    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center order-lg-2"> 
            <video src="../static/Files/Projects/Python/spidy.mp4" class="img-fluid rounded shadow" alt="Spiderman Art" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start order-lg-1"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Spiderman Chiby Art</h1> 
            <p class="lead">Chiby Spiderman drawing using Python Turtle.</p> 
            Click <a class="lead" id="spidy-link" href="https://github.com/Xenon0117/SpiderMan-Art" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div>
    <hr>

        <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <video src="../static/Files/Projects/Python/empl.mp4" class="img-fluid rounded shadow" alt="Employee-Details" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start order-lg-1"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Employee Details</h1> 
            <p class="lead">Get Employee Retirement date and Service Period.</p> 
            Click <a class="lead" id="empl-link" href="https://github.com/Xenon0117/Employee-Details" target="_blank"><i>here</i></a> for more
        </div> 
    </div>
    <hr>
    
    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center order-lg-2"> 
            <video src="../static/Files/Projects/Python/kanye.mp4" class="img-fluid rounded shadow" alt="Kanye" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start order-lg-1"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Kanye Says..</h1> 
            <p class="lead">Get random quotes with api.</p> 
            Click <a class="lead" id="kanye-link" href="https://github.com/Xenon0117/Kanye-Says" target="_blank"><i>here</i></a> for more
        </div> 
    </div>
    <hr>

       <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center "> 
            <video src="../static/Files/Projects/Python/password_mgr.mp4" class="img-fluid rounded shadow" alt="Employee-Details" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start order-lg-1"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Password Manager</h1> 
            <p class="lead">Password Manager using Python.</p> 
            Click <a class="lead" id="pass-link" href="https://github.com/Xenon0117/Password-Manager" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div>
    <hr>
    
    
    
    
    {% elif id==2 %}
    <!-- PCB Projects -->
    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <img src="../static/Files/Projects/PCB/FMT_Controller.png" class="img-fluid rounded shadow" alt="Controller PCB" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Controller PCB</h1> 
            <p class="lead">Controller PCB for 15W FM Transmitter.</p> 
        </div> 
    </div>
    <hr>

     <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center order-lg-2"> 
            <img src="../static/Files/Projects/PCB/PA.png" class="img-fluid rounded shadow" alt="PA PCB" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">PA PCB</h1> 
            <p class="lead">150W RF Power Amplifier PCB.</p> 
        </div> 
    </div>
    <hr>
    
     <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <img src="../static/Files/Projects/PCB/EXCITER.png" class="img-fluid rounded shadow" alt="PA PCB" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Exciter PCB</h1> 
            <p class="lead">1W Exciter PCB for 100W FM Trasnsmitter.</p> 
        </div> 
    </div>
    <hr>

    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center order-lg-2"> 
            <img src="../static/Files/Projects/PCB/SLM_C.png" class="img-fluid rounded shadow" alt="PA PCB" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Controller PCB</h1> 
            <p class="lead">Controller PCB for Sound Level Meter.</p> 
        </div> 
    </div>
    <hr>
    
     <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <img src="../static/Files/Projects/PCB/SLM_P.png" class="img-fluid rounded shadow" alt="PA PCB" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Power Supply PCB</h1> 
            <p class="lead">Power Supply  PCB for Sound Level Meter.</p> 
        </div> 
    </div>
    <hr>

    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center order-lg-2"> 
            <img src="../static/Files/Projects/PCB/PAL.png" class="img-fluid rounded shadow" alt="PA PCB" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Sound Limiter PCB</h1> 
            <p class="lead">Controller PCB for Sound Limiter.</p> 
        </div> 
    </div>
    <hr>

       <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <img src="../static/Files/Projects/PCB/AMPLI.png" class="img-fluid rounded shadow" alt="PA PCB" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Amplispeaker PCB</h1> 
            <p class="lead">Controller PCB for Ampli-Speaker.</p> 
        </div> 
    </div>
    <hr>

    
    <!-- More PCB projects would follow the same pattern -->
    
    {% elif id==3 %}
    <!-- 3D Models -->
    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <img src="../static/Files/Projects/3D/Part Studio 1 (1).png" class="img-fluid rounded shadow" alt="KIOSK Design" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">KIOSK</h1> 
            <p class="lead">Kiosk Design for Govt Project</p>
            <p>Download the <a href="{{url_for('download_file',filename='D1.pdf')}}"><i>pdf</i></a> file</p> 
        </div> 
    </div>
    <hr>

     <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center  order-lg-2"> 
            <img src="../static/Files/Projects/3D/Part Studio 1.png" class="img-fluid rounded shadow" alt="KIOSK Design" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Furniture</h1> 
            <p class="lead">Kitchen Furniture Design</p>
            <p>Download the <a href="{{url_for('download_file',filename='D2.pdf')}}"><i>pdf</i></a> file</p> 
        </div> 
    </div>
    <hr>

     <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <img src="../static/Files/Projects/3D/NEW DESIGN.png" class="img-fluid rounded shadow" alt="KIOSK Design" loading="lazy"> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Furniture</h1> 
            <p class="lead">Furniture Design</p>
            <p>Download the <a href="{{url_for('download_file',filename='D3.pdf')}}"><i>pdf</i></a> file</p> 
        </div> 
    </div>
    <hr>
    <!-- More 3D models would follow the same pattern -->
    
    {% else %}
    <!-- Electronics Projects -->
    <div class="row justify-content-center align-items-center g-5 py-5"> 
        <div class="col-12 col-lg-6 text-center"> 
            <video src="../static/Files/Projects/Electronics/project.mp4" class="img-fluid rounded shadow" alt="Smart Switch" controls> 
        </div> 
        <div class="col-lg-6 text-center text-lg-start"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">Smart Switch</h1> 
            <p class="lead">Bluetooth controlled Smart Switch with ESP-32 board</p> 
        </div> 
    </div>
    {% endif %}
</div>
{% endblock %}