{% extends 'base.html' %}
{% block title %}Python Works{% endblock %}
{% block content %}
{% if id==1 %}
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Python/turtle.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Turtle Racing</h1> 
            <p class="lead">Turtle Racing game using Python Turtle Module.</p> 
            Click <a class="lead" id="turtle_racing-link" href="https://github.com/Xenon0117/Turtle-Racing" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div> 
</div>
<br><hr><br>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Python/pong.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pong</h1> 
            <p class="lead">Classic Pong Game using Python Turtle Module.</p> 
            Click <a class="lead" id="pong-link" href="https://github.com/Xenon0117/Pong" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div> 
</div>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Python/pomo.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pomodoro</h1> 
            <p class="lead">Pomodoro Timer using Python Tkinter.</p> 
            Click <a class="lead" id="pomo-link" href="https://github.com/Xenon0117/Pomodoro" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div> 
</div>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Python/quiz.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Quizler</h1> 
            <p class="lead">GUI Quiz App.</p> 
            Click <a class="lead" id="quiz-link" href="https://github.com/Xenon0117/Quizler" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div> 
</div>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Python/snake_REC.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Snake Game</h1> 
            <p class="lead">Classic Snake Game using Python Turtle Module.</p> 
            Click <a class="lead" id="snake-link" href="https://github.com/Xenon0117/Snake-Game" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div> 
</div>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Python/spidy.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Spiderman Chiby Art</h1> 
            <p class="lead">Chiby Spiderman drawing using Python Turtle.</p> 
            Click <a class="lead" id="spidy-link" href="https://github.com/Xenon0117/SpiderMan-Art" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div> 
</div>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Python/empl.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Employee Details</h1> 
            <p class="lead">Get Employee Retirement date and Service Period.</p> 
            Click <a class="lead" id="empl-link" href="https://github.com/Xenon0117/Employee-Details" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div> 
</div>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Python/kanye.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Kanye Says..</h1> 
            <p class="lead">Get random quotes with api.</p> 
            Click <a class="lead" id="kanye-link" href="https://github.com/Xenon0117/Kanye-Says" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div> 
</div>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Python/password_mgr.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Password Manager</h1> 
            <p class="lead">Password Manager using Python.</p> 
            Click <a class="lead" id="pass-link" href="https://github.com/Xenon0117/Password-Manager" target="_blank"><i>here</i></a> for more
            
        </div> 
    </div> 
</div> 

<p>coming soon.....</p>
{% elif id==2 %}
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/PCB/FMT_Controller.png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Controller PCB</h1> 
            <p class="lead">Controller PCB for 15W FM Trasnsmitter.</p> 
            
        </div> 
    </div> 
</div> 
<br><hr><br>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/PCB/PA.png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">PA PCB</h1> 
            <p class="lead">150W RF Power Amplifier PCB.</p> 
            
        </div> 
    </div> 
</div> 
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/PCB/EXCITER.png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Exciter PCB</h1> 
            <p class="lead">1W Exciter PCB for 100W FM Trasnsmitter.</p> 
            
        </div> 
    </div> 
</div> 
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/PCB/SLM_C.png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Controller PCB</h1> 
            <p class="lead">Controller PCB for Sound Level Meter.</p> 
            
        </div> 
    </div> 
</div> 
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/PCB/SLM_P.png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Power Supply PCB</h1> 
            <p class="lead">Power Supply  PCB for Sound Level Meter.</p> 
            
        </div> 
    </div> 
</div> 
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/PCB/PAL.png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sound Limiter PCB</h1> 
            <p class="lead">Controller PCB for Sound Limiter.</p> 
            
        </div> 
    </div> 
</div> 
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/PCB/AMPLI.png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Amplispeaker PCB</h1> 
            <p class="lead">Controller PCB for Ampli-Speaker.</p> 
            
        </div> 
    </div> 
</div>

<p>coming soon.....</p>
{% elif id==3 %}
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/3D/Part Studio 1 (1).png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">KIOSK</h1> 
            <p class="lead">Kiosk Design for Govt Project</p> 
            
        </div> 
    </div> 
</div>
<br><hr><br>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/3D/Part Studio 1.png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Furniture</h1> 
            <p class="lead">Kitchen Furniture Design</p> 
            
        </div> 
    </div> 
</div>
<br><hr><br>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img  src="../static/Files/Projects/3D/NEW DESIGN.png" class="d-block mx-lg-auto img-fluid" alt="PCB" width="700" height="500" loading="lazy" > 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Furniture</h1> 
            <p class="lead">Furniture Design</p> 
            
        </div> 
    </div> 
</div>
{% else %}
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <video  src="../static/Files/Projects/Electronics/project.mp4" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" controls> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Smart Switch</h1> 
            <p class="lead">Bluetooth controlled Smart Switch with ESP-32 board</p> 
            
        </div> 
    </div> 
</div>

{% endif %}
{% endblock %}